body {
  display: flex;
  margin: 0;
}

.sidebar {
  background: #222;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background: #333;
}

.content {
  padding: 20px;
  width: 100%;
}

.section {
  display: block;
}

.hidden {
  display: none;
}
