.hover-grow { transition: all 0.3s; }
.hover-grow:hover { transform: translateY(-10px); }
.dark img { filter: brightness(0.9); }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: #4f46e5; border-radius: 10px; }
